# env file
.env

# Hugo artifacts
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
/.hugo_build.lock

# Obsidian files
content/.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Draft/test
*.test.*