<script>
  document.addEventListener("DOMContentLoaded", function() {
    (async function() {
      const apiUrl = 'https://wakatime-api.senophyx.id'; 
      const element = document.getElementById('coding-time');
      element.innerText = "(loading)";

      if (!element) {
        console.error("can't find element!");
        return;
      }

      try {
        const response = await fetch(apiUrl);
        if (!response.ok) throw new Error('Network response was not ok');
        
        const jsonData = await response.json();
        const timeText = jsonData.total_human;
        
        element.innerText = timeText;
      } catch (error) {
        console.error('Error fetching stats:', error);
        element.innerText = "(unavailable)";
      }
    })();
  });
</script>